body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tab-nav {
    display: flex;
    flex: row nowrap;
}

.btn {
    cursor: pointer;   
}

.tab {
    padding: 1.5vh;
    margin: 0vh 1.25vh 3vh 1.25vh;
    border: 0.5vh solid;
}

.active-tab {
    
    
}

.new-tab-button {
    padding: 1.5vh;
    margin: 0vh 1.25vh 3vh 1.25vh;
    border: 0.5vh dashed;
    font-weight: 700;
}